# AliExpress API Configuration
ALI_APP_KEY=528438
ALI_APP_SECRET=YPhzjbGESFs75SniEK0t1wwfKhvrKIhq
ALI_TRACKING_ID=ali_smart_finder_v1
# Server Configuration
PORT=3001
NODE_ENV=development

# Cache Configuration (in seconds)
CACHE_TTL=900

# Rate Limiting
RATE_LIMIT_WINDOW=900000
RATE_LIMIT_MAX=100
